<div style="background-image:url(https://images6.alphacoders.com/316/thumb-1920-316412.jpg); width:100%; height:100%; text-align: right; padding-top: 30px">

<div style="text-align: center; background-color: white; margin-right:30px; margin-left: 70%; height: relative; padding: 20px; opacity: 0.8; font-family: arial">

{% if cinema %}
	<h2> {{cinema.cinema_name}} </h2>
	<div> Address: {{cinema.cinema_addr}} </div>
	<div> City: {{cinema.cinema_city}} </div>
	<div> State: {{cinema.cinema_state}} </div>
	<div> Country: {{cinema.cinema_country}} </div>
	<div> Contact: {{cinema.cinema_contact}} </div>
{% endif %}

{% if theatre %}
	<h2> Theatre: {{theatre.id}} </h2>
	<div> Capacity: {{theatre.theatre_capacity}} </div>
{% endif %}

{% if movie %}
	<h2> {{movie.movie_title}} </h2>
	<div> Published Date: {{movie.pub_date}} </div>
	<div> Duration: {{movie.duration}} minutes </div>
	
{% endif %}

{% if showing %}
	<h2> Date & Time </h2>
	<div> <u> {{showing.showing_date}} </u></div>
{% endif %}

</div>
</div>




	
